{% extends "layout.html" %}

{% block title %}Tapahtuman muokkaus{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Tapahtuman muokkaus</h3>
<form action="/update_item" method="post">
<p>
  <label for="title">Otsikko:</label> <br />
  <input type="text" name="title" id="title" value = "{{item.title}}" maxlength="50" required />
</p>

<p>
  <label for="meeting">Aika:</label> <br />
  <input type="datetime-local" name="meeting" id="meeting" value = {{item.meeting}} required/>
</p>

<p>
  <label for="place">Paikka:</label> <br />
  <input type="text" name="place" id="place" value = {{item.place}} maxlength="50" required />
</p>

<p>
  <label for="description">Keskusteluaihe:</label> <br />
    <textarea name = "description" id="description" rows = "8" cols = "60" maxlength="1000" required > {{item.description}}</textarea>
</p>


{% for class in all_classes %}
<p>
  <label for="class{{ class }}">{{ class }}</label> <br />
  <select name ="classes" id="class{{ class }}">
    <option value="">(valitse)</option>
  {% for option in all_classes[class] %}
    {% if classes[class] == option %}
    <option value="{{ class }}:{{ option }}"selected>{{ option }}</option>
    {% else %}
    <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endif %}
  {% endfor %}
  </select>
</p>
{% endfor %}
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
<input type="hidden" name= "item_id" value = "{{item.id}}" />
<input type="submit" value="Päivitä tapahtumaa" />
</form>
<p>
  <a href="/item/{{ item.id}}">Takaisin tapahtumaan</a>
</p>

{% endblock %}