<!DOCTYPE html>
<html>

<head>
  <title>Järjestä tapahtuma</title>
</head>

<body>
  <h1>Järjestä tapahtuma</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required />
    </p>

    <p>
      Aika: <br />
      <input type="datetime-local" name="meeting" required />
    </p>
    
    <p>
      Paikka: <br />
      <input type="text" name="place" maxlength="50" required />
    </p>

    <p>
      Kirjan laji: <br />
      <select name="genre" required />
        <option value="">(valitse laji)</option>
        <option value="Fantasia">Fantasia</option>
        <option value="Scifi">Scifi</option>
        <option value="Rikoskirjallisuus">Rikoskirjallisuus</option>
        <option value="Jännitys">Jännitys</option>
        <option value="Romantiikka">Romantiikka</option>
        <option value="Kauhu">Kauhu</option>
        <option value="Seikkailu">Seikkailu</option>
        <option value="Historiallinen romaani">Historiallinen romaani</option>
        <option value="Nuorten kirjallisuus">Nuorten kirjallisuus</option>
        <option value="Lastenkirjallisuus">Lastenkirjallisuus</option>
        <option value="Runous">Runous</option>
        <option value="Elämäkerrat/ Muistelmat">Elämäkerrat / Muistelmat</option>
        <option value="Historia">Historia</option>
        <option value="Tiede ja tekniikka">Tiede ja tekniikka</option>
        <option value="Matkakirjallisuus">Matkakirjallisuus</option>
        <option value="Filosofia / Uskonto">Filosofia / Uskonto</option>
        <option value="True crime">True crime</option>
        <option value="Politiikka ja yhteiskunta">Politiikka ja yhteiskunta</option>
        <option value="Itseapu / Hyvinvointi">Itseapu / Hyvinvointi</option>
        <option value="muu laji">muu laji</option>
      </select>
  </p>
    
    <p>
      Teoksen tyyppi: <br />
      <select name="book_type" required />
        <option value="">(valitse tyyppi)</option>
        <option value="Romaanit">Romaanit</option>
        <option value="Novellit">Novellit</option>
        <option value="Runot">Runot</option>
        <option value="Näytelmät">Näytelmät</option>
        <option value="Tietokirjat">Tietokirjat</option>
        <option value="Sanomalehdet">Sanomalehdet</option>
        <option value="Aikakauslehdet">Aikakauslehdet</option>
        <option value="Sarjakuvat / mangat">Sarjakuvat / mangat</option>
        <option value="muu tyyppi">muu tyyppi</option>
      </select>
    </p>
    
    <p>
      Keskusteluaihe: <br />
       <textarea name = "description" rows = "8" cols = "60" maxlength="1000" required ></textarea>
    </p>
    
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>
