{% extends "layout.html" %}

{% block title %}Järjestä tapahtuma{% endblock %}

{% block content %}
<h2>Järjestä tapahtuma</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required />
  </p>

  <p>
    <label for="meeting">Aika:</label> <br />
    <input type="datetime-local" name="meeting" id="meeting" required />
  </p>

  <p>
    <label for="place">Paikka:</label> <br />
    <input type="text" name="place" id="place" maxlength="50" required />
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label> <br />
    <select name ="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="description">Keskusteluaihe:</label> <br />
      <textarea name = "description" id="description" rows = "8" cols = "60" maxlength="1000" required ></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo ilmoitus" />
</form>
{% endblock %}